#playerHand, #breed-area-player, #playerField, #cpuHand, #breed-area-cpu, #cpuField {
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
}
#playerHand > div {
	border:1px solid black;
	height:110px;
	width:85px;
}
#breed-area-player > div, #breed-area-cpu > div {
	border: 1px solid black;
	height:75px;
	width:50px;
	margin-bottom: 15px;
}
#playerField > div, #cpuField > div{
	border: 1px solid black;
	height:105px;
	width:75px;
	margin-bottom: 15px;
}
#memoryGauge {
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
#memoryGauge > li{
	flex-direction:row;
	list-style: none;
	border:1px solid black;	
	padding:5px;
	margin:4px;
	border-top-right-radius: 30%;
	border-bottom-left-radius: 30%;
	background-color:black;
	color:red;
	font-weight:bold;
}
#cpuHand > div, #playerHand > div {
	border: 1px solid black;
	height:105px;
	width:75px;
	margin-bottom: 15px;
	background-image: url("img/backOfCard2.png");
	margin-left: 2px;
}
#deck {
	right:-20px;
	position:relative;
	margin-left:10px;
	height:105px;
	width:75px;
	margin-top:15px;
	background-image: url("img/backOfCard.png");
	border-radius:4px;

}
#trash {
	right:-30px;
	position:relative;
	height:105px;
	width:75px;
	margin-top:15px;
	background-image: url("img/trash.png");
	border-radius:8px;
}
#secStack {
	position:relative;
	left:-15px;
	border:1px solid black;
	height:105px;
	width:75px;
	margin-top:15px;
}
#hoverOverCards {
	width:30%;
}
#playArea {
	width:65%;
}